#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tool-bar * {
  margin: 0 8px;
}

.tag-card {
  margin: 12px 0;
}

.p-tag:hover {
  box-shadow: inset 0px 0px 6px white;
  transition: none;
}
.p-tag {
  box-shadow: inset 0px 0px 0px white;
  transition: all 0.5s;
}
div.menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

div.menu .p-button,
div.toolbar .p-button {
  margin: 2px 4px;
}

.tagalt-view div.toolbar {
  margin: 4px;
}